@keyframes animationOO {
    from {

    }
    to {
        margin-top: 8rem;
        margin-left: 15rem;
    }
}
@keyframes animationOT {
    from {

    }
    to {
        margin-left: 15rem;
    }
}
@keyframes animationOTH {
    from {

    }
    to {
        margin-left: 15rem;
        margin-top: 16rem;
    }
}

@keyframes animationTO {
    from {

    }
    to {
        margin-top: 8rem;
        margin-left: -2rem;
    }
}
@keyframes animationTT {
    from {

    }
    to {
        margin-left: -2rem;
    }
}
@keyframes animationTTH {
    from {

    }
    to {
        margin-left: -2rem;
        margin-top: 16rem;
    }
}